build/
.gradle/
.checkstyle
.settings/
.idea/
*.iml
*.log
*.log.*
*.csv
config.json
src/test/data/sandbox/
src/test/data/savetotest.xml
preferences.json
.DS_Store
./screenshot*.png
classes/
/data/
/bin/
