build/
.gradle/
.checkstyle
.settings/
.idea/
lib/*
*.iml
*.log
*.log.*
*.csv
.*
config.json
src/test/data/sandbox/
preferences.json
.DS_Store
./screenshot*.png
classes/
/data/
/bin/
runtests.sh
/src/.*
.project
/config/checkstyle/awesometodoformat.xml
Collate-GUI.jar
Collate-TUI.jar
src/test/data/SaveFileTest/doesnotexist
