* {
    theme-primary: #00BCD4;
    theme-primary-dark: #0097A7;
    theme-primary-light: #B2EBF2;
    theme-accent: #FFC107;
    theme-primary-text: #212121;
    theme-secondary-text: #757575;
    theme-text: #FAFAFA;
    theme-background: #E5E5DB;
    theme-danger: #EF4A4F;
}
