/*@@author A0160076L */
.background {
    -fx-background-color: derive(#e2e8e4, 20%);
}

.label {
    -fx-font-size: 12pt;
    -fx-font-family: "Century Gothic";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 12pt;
    -fx-font-family: "Century Gothic";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 20pt;
    -fx-font-family: "Century Gothic";
    -fx-text-fill: #002c54;
    -fx-opacity: 1;
    -fx-font-weight: bold;

}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Century Gothic";
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 0;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent derive(-fx-base, 80%) transparent;
    -fx-border-insets: 0 1 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Century Gothic";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal .split-pane-divider {
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.split-pane-header {
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-background-color: derive(#1d1d1d, 20%);
}
.split-pane {
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-background-color: transparent;
}

.list-cell {
	-fx-background-color: transparent;
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap: 0;
    -fx-padding: 0 0 0 0;
}

.list-cell:selected {
	-fx-background-color: rgba(128, 128, 128, .6);
}
.list-cell .label {
    -fx-text-fill: white;
    -fx-padding: 0 0 0 0;
}

.cell_big_label {
    -fx-font-size: 22px;
    -fx-text-fill: white;
}

.cell_small_label {
    -fx-font-size: 14px;
    -fx-text-fill: white;
}

.anchor-pane {
    -fx-background-color: black;
    -fx-padding: 0 0 0 0;
    -fx-border-radius:0;
    -fx-background-radius: 0;

}

.anchor-pane-with-border {
    -fx-background-color: derive(#e2e8e4, 20%);
    -fx-border-color: derive(#002c54, 10%);
    -fx-border-width: 0 0 5 0;
}

.status-bar {
    -fx-background-color: #e2e8e4;
    -fx-text-fill: black;
    -fx-padding: 0 10 0 10;
}

.result-display {
    -fx-background-color: white;
}

.result-display .label {
    -fx-text-fill: black !important;
}

.status-bar .label {
    -fx-text-fill: #002c54;
}

.status-bar-with-border {
    -fx-background-color: derive(#e2e8e4, 30%);
    -fx-border-color: derive(#e2e8e4, 25%);
    -fx-border-width: 0px;
}

.status-bar-with-border .label {
    -fx-text-fill: #002c54;
    -fx-padding: 10 10 10 10;
}

.grid-pane {
    -fx-background-color: derive(#1d1d1d, 30%);
    -fx-border-color: white;
    -fx-border-width: 0px;
}

.grid-pane .anchor-pane {
    -fx-background-color: derive(#e2e8e4, 30%);
}

.context-menu {
    -fx-background-color: derive(#002c54, 50%);
}

.context-menu .label {
    -fx-text-fill: white;
}

.menu-bar {
    -fx-background-color: derive(#002c54, 20%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Century Gothic";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: #002c54;
}

.command-box-text {
    -fx-background-color: white;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: #002c54;
    -fx-font-family: "Century Gothic", Helvetica, Arial, sans-serif;
    -fx-font-size: 12pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #002c54;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: white;
    -fx-text-fill: #002c54;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #002c54;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}

.dialog-pane {
    -fx-background-color: #002c54;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #002c54;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(#002c54, 25%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: white;
}

.scroll-bar .thumb {
    -fx-background-color: derive(#002c54, 50%);
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

#cardPane {
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 1 1 1 1;
}

#commandTypeLabel {
    -fx-font-size: 12pt;
    -fx-text-fill: #F70D1A;
}

#filterField, #taskListPanel, #eventListPanel, #floatingTaskListPanel, #taskWebpage {
    -fx-effect: innershadow(gaussian, black, 2, 0, 0, 0);
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

.taglist-item-bullet {
  -fx-fill-color: #002c54;
}

#tags .label {
    -fx-text-fill:#002c54;
    -fx-background-color: #e2e8e4;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 12pt;
}
