.root {
	-fx-focus-color: #B0E0E6;
}

.background {
    -fx-background-color: derive(#1d1d1d, 20.0%);
}

.label {
    -fx-font-size: 11.0pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #555555;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11.0pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1.0;
}

.label-header {
    -fx-font-size: 32.0pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1.0;
}

.text-field {
    -fx-font-size: 12.0pt;
    -fx-font-family: "Segoe UI Semibold";
}

.tab-pane {
    -fx-padding: 0.0 0.0 0.0 1.0;
}

.tab-pane .tab-header-area {
    -fx-padding: 0.0 0.0 0.0 0.0;
    -fx-min-height: 0.0;
    -fx-max-height: 0.0;
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5.0;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35.0;
    -fx-border-width: 0.0 0.0 1.0 0.0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80.0%)
        transparent;
    -fx-border-insets: 0.0 10.0 1.0 0.0;
}

.table-view .column-header .label {
    -fx-font-size: 20.0pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1.0;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal .split-pane-divider {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
    -fx-background-color: transparent, derive(#1d1d1d, 10.0%);
}

.split-pane {
    -fx-border-radius: 1.0;
    -fx-border-width: 1.0;
    -fx-background-color: derive(#1d1d1d, 20.0%);
}

.list-cell {
    -fx-label-padding: 0.0 0.0 0.0 0.0;
    -fx-graphic-text-gap : 0.0;
    -fx-padding: 0.0 0.0 0.0 0.0;
}

/*
 * @@author A0131278H
 */
.list-cell:selected {
    -fx-background-color: -fx-focus-color;
}

/*
 * @@author
 */

.list-cell .label {
    -fx-text-fill: #010504;
}

.cell_big_label {
    -fx-font-size: 16.0px;
    -fx-text-fill: #010504;
}

.cell_small_label {
    -fx-font-size: 11.0px;
    -fx-text-fill: #010504;
}

.anchor-pane {
     -fx-background-color: derive(#1d1d1d, 20.0%);
}

.anchor-pane-with-border {
     -fx-background-color: derive(#1d1d1d, 20.0%);
     -fx-border-color: derive(#1d1d1d, 10.0%);
     -fx-border-top-width: 1.0px;
}

.status-bar {
    -fx-background-color: derive(#1d1d1d, 20.0%);
    -fx-text-fill: black;
}

.result-display {
    -fx-background-color: #ffffff;
}

.result-display .label {
    -fx-text-fill: black !important;
}

.status-bar .label {
    -fx-text-fill: white;
}

.status-bar-with-border {
    -fx-background-color: derive(#1d1d1d, 30.0%);
    -fx-border-color: derive(#1d1d1d, 25.0%);
    -fx-border-width: 1.0px;
}

.status-bar-with-border .label {
    -fx-text-fill: white;
}

.grid-pane {
    -fx-background-color: derive(#1d1d1d, 30.0%);
    -fx-border-color: derive(#1d1d1d, 30.0%);
    -fx-border-width: 1.0px;
}

.grid-pane .anchor-pane {
    -fx-background-color: derive(#1d1d1d, 30.0%);
}

.context-menu {
    -fx-background-color: derive(#1d1d1d, 50.0%);
}

.context-menu .label {
    -fx-text-fill: white;
}

.menu-bar {
    -fx-background-color: derive(#1d1d1d, 20.0%);
}

.menu-bar .label {
    -fx-font-size: 14.0pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5.0 22.0 5.0 22.0;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2.0;
    -fx-background-radius: 0.0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11.0pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0.0 0.0 0.0 0.0, 0.0, 1.0, 2.0;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1.0, 1.0;
    -fx-border-style: solid, segments(1.0, 1.0);
    -fx-border-radius: 0.0, 0.0;
    -fx-border-insets: 1.0 1.0 1.0 1.0, 0.0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30.0%);
}

.dialog-pane {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14.0px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(#1d1d1d, 25.0%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18.0px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: white;
}

/*
 * @@author A0131278H
 */
.scroll-bar .track {
	-fx-background-color:transparent;
	-fx-border-color:transparent;
	
}
.scroll-bar .thumb {
    -fx-background-color: derive(#1d1d1d, 50.0%);
    -fx-background-insets: 1.0;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0.0 0.0 0.0 0.0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1.0 4.0 1.0 4.0;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 4.0 1.0 4.0 1.0;
}
/*
 * @@author
 */

#cardPane {
    -fx-background-color: transparent;
    -fx-border-color: #d6d6d6;
    -fx-border-width: 1.0 1.0 1.0 1.0;
}

#cardPane:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

#commandTypeLabel {
    -fx-font-size: 11.0px;
    -fx-text-fill: #D8683E;
}

#filterField, #personListPanel, #personWebpage {
    -fx-effect: innershadow(gaussian, black, 10.0, 0.0, 0.0, 0.0);
}

#tags {
    -fx-hgap: 7.0;
    -fx-vgap: 3.0;
}

#tags .label {
    -fx-text-fill: white;
    -fx-background-color: #383838;
    -fx-padding: 1.0 3.0 1.0 3.0;
    -fx-border-radius: 2.0;
    -fx-background-radius: 2.0;
    -fx-font-size: 11.0;
}
