/*@@author A0124368A */
.background {
    -fx-background-color: #293132;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Ubuntu";
    -fx-text-fill: #555555;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Ubuntu";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Ubuntu";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.text-field {
    -fx-padding: 10px;
    -fx-font-family: "Consolas";
    -fx-text-fill: white;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent, #1C2122, transparent, #1C2122;
}

.text-field .content {
    -fx-text-fill: white;
    -fx-highlight-fill: #CFCFCF;
    -fx-background-radius: 0;
    -fx-background-color: transparent, #1C2122, transparent, #1C2122;
}

.text-field:focused .content {
    -fx-background-radius: 0;
    -fx-background-color: transparent, #1C2122, transparent, #1C2122;
}

.text-field:focused {
    -fx-background-radius: 0;
    -fx-highlight-fill: #CFCFCF;
}

.text-area {
    -fx-text-fill: white;
    -fx-font-family: "Ubuntu";
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent, #1C2122, transparent, #1C2122;
}

.text-area .content {
    -fx-text-fill: white;
    -fx-highlight-fill: #CFCFCF;
    -fx-background-radius: 0;
    -fx-background-color: transparent, #1C2122, transparent, #1C2122;
}

.text-area:focused .content {
    -fx-background-radius: 0;
    -fx-background-color: transparent, #1C2122, transparent, #1C2122;
}

.text-area:focused {
    -fx-background-radius: 0;
    -fx-highlight-fill: #CFCFCF;
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.split-pane:horizontal .split-pane-divider {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
    -fx-background-color: transparent, derive(#1d1d1d, 10%);
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-background-color: derive(#1d1d1d, 20%);
}

.list-view {
    -fx-background-color: #293132;
    -fx-border-color: transparent;
}

.list-cell {
    -fx-background-color: #1C2122;
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
    -fx-border-color: transparent;
}

.list-cell .label {
    -fx-text-fill: white;
}

.cell_big_label {
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

.cell_small_label {
    -fx-font-size: 11px;
    -fx-text-fill: white;
}

.status-bar {
    -fx-background-color: #293132;
    -fx-text-fill: black;
}

.status-bar .label {
    -fx-text-fill: white;
}

.status-bar-with-border {
    -fx-background-color: #293132;
    -fx-border-color: derive(#1d1d1d, 25%);
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: white;
}

.grid-pane .anchor-pane {
    -fx-border-color: transparent;
    -fx-background-color: #293132;
}

.context-menu {
    -fx-background-color: #293132;
}

.context-menu .label {
    -fx-text-fill: white;
}

.menu-bar {
    -fx-background-color: #293132;
}

.menu-bar .label {
    -fx-font-size: 10pt;
    -fx-font-family: "Ubuntu";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: #293132;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Ubuntu", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}

.dialog-pane {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(#1d1d1d, 25%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: white;
}

.scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar .thumb {
    -fx-background-color: derive(#1d1d1d, 50%);
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

.priority-high {
    -fx-text-fill: #FF6464;
}

.priority-mid {
    -fx-text-fill: #68AB1F;
}

.priority-low {
    -fx-text-fill: #D8D8D8;
}

#cardPane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 1 1 1 1;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}

#filterField, #personListPanel, #personWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: white;
    -fx-background-color: #383838;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

