/* @@author A0140887W */
@import url("CommandBoxCss.css");
@import url("Extensions.css");

.background {
    -fx-background-color: #000000;
}

.check-box>.box {
  -fx-background-insets: 0;
  -fx-background-radius: 0;
  -fx-background-color: #777777;
}

.check-box:selected>.box>.mark {
  -fx-background-color: white;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #555555;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.list-view {
    -fx-selection-bar:#777777;
    -fx-selection-bar-non-focused: #777777;
    -fx-background-insets: 0;
    -fx-padding: -2px;
}

.list-view .list-cell:even {
    -fx-control-inner-background: #424242;
}

.list-view .list-cell:odd {
    -fx-control-inner-background: #303030;
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
    -fx-border-color: transparent;
}

.list-cell .label {
    -fx-text-fill: white;
}

.cell_big_label {
    -fx-font-size: 16px;
    -fx-text-fill: #010504;
}

.cell_small_label {
    -fx-font-size: 11px;
    -fx-text-fill: #010504;
}

.anchor-pane {
     -fx-background-color:#303030;
     -fx-text-fill: #010504;
}

.anchor-pane-with-border {
     -fx-background-color: #303030;
     -fx-border-color: #303030;
     -fx-border-top-width: 1px;
}

.status-bar {
    -fx-background-color: #000000;
}

.result-display {
    -fx-background-color: #000000;
}

.result-display .label {
    -fx-text-fill: black !important;
}

.status-bar .label {
    -fx-text-fill: white;
}

.status-bar-with-border {
    -fx-background-color: #303030;
    -fx-border-color: transparent;
    -fx-border-width: 0px;
}

.status-bar-with-border .label {
    -fx-text-fill: white;
}

.grid-pane {
    -fx-background-color: transparent;
    -fx-border-color: #303030;
    -fx-border-width: 1px;
}

.grid-pane .anchor-pane {
    -fx-background-color: #303030;
}

.context-menu {
    -fx-background-color: #303030;
}

.context-menu .label {
    -fx-text-fill: white;
}

.menu-bar {
    -fx-background-color:#303030;
}

.menu-item:focused {
    -fx-background-color:#212121;
}
.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

.menu:showing {
    -fx-background-color: #303030;
}
.menu:hover {
    -fx-background-color: #303030;
}
/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}

.dialog-pane {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(#1d1d1d, 25%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: white;
}

.scroll-bar .track-background {
    -fx-background-color: #212121;
}
.scroll-bar .thumb {
    -fx-background-color: #555555;
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

.scroll-bar:horizontal {
    -fx-opacity: 1;
}

#cardPane {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 0 4;
}

/* for normal tasks in cardPane */
.normal {
    -fx-border-color: #76d7ea;
}

/* for overdue tasks in cardPane */
.overdue {
    -fx-border-color: #fc80a5;
}

/* for finished tasks in cardPane */
.finished {
    -fx-border-color: #99ff99;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}

#sideBox {
    -fx-border-color: transparent;
}

.text-area {
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-padding: -2px;
}

.text-area .content {
    -fx-background-color: #212121;
    -fx-border-color: #212121;
}

.text-area:focused .content {
    -fx-background-color: #212121;
}

.text-area:focused {
    -fx-highlight-fill: white;
}

#taskBox {
    -fx-border-color: #212121;
    -fx-border-width: 0 0 0 0;
}

#filterField, #personListPanel, #personWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: white;
    -fx-background-color: #888888;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}
