/*@@author A0163848R */
.error {
    -fx-background-color: #f08080;
}

.incomplete {
    -fx-border-color:  #ffcccc;
}

.complete {
    -fx-border-color: #69dead;
}

.tag-selector {
    -fx-border-width: 1;
    -fx-border-color: white;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}
/*@@author */

.tooltip-text {
    -fx-text-fill: white;
}
