.tag-selector {
    -fx-border-width: 1;
    -fx-border-color: white;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.tooltip-text {
    -fx-text-fill: white;
}

/*
 * @@author A0131278H
 */

.error {
    -fx-background-color: #ffa59d;
    -fx-border-color: #999999;
}

.menu {
	-fx-background-color: #e7f5f7;
}

.menu:hover, .menu-item:hover {
	-fx-background-color: #d7eff2;
}

.menu:selected:focused:showing, .menu-item:selected:focused {
	-fx-background-color: -fx-focus-color;
}

.menu-item:focused {
	-fx-background-color: -fx-focus-color;
}

.menu:showing {
	-fx-background-color: -fx-focus-color;
}

.split-pane-divider {
    -fx-padding: 0.5;
}

.tab-header-background {
	-fx-background-color: transparent;
}

.tab {
	-fx-effect: null;
}

#startDate, #endDate {
	-fx-font-size: 8pt;
	-fx-text-fill: derive(#1d1d1d, 30%);
}

#description {
	-fx-font-size: 10pt;
}

/*
 * @@author
 */
