
.error {
    -fx-background-color: #f08080;
}

.incomplete {
    -fx-border-color: #69dead;
}

.complete {
    -fx-border-color: #ffcccc;
}

.tag-selector {
    -fx-border-width: 1;
    -fx-border-color: white;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.tooltip-text {
    -fx-text-fill: white;
}
