/* @@author A0140887W */
.tag-selector {
    -fx-border-width: 1;
    -fx-border-color: white;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.tooltip-text {
    -fx-text-fill: white;
}

.error {
    -fx-background-color: #ffb3b3;
}

.white {
    -fx-background-color: #a9a9a9 , white , white;
}
