
.error {
    -fx-background-color: red;
}


.tag-selector {
    -fx-border-width: 1;
    -fx-border-color: white;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.tooltip-text {
    -fx-text-fill: white;
}

.completed .text {
    -fx-strikethrough: true;
}

.tab-lbl.selected .text {
    -fx-underline: true;
    -fx-font-weight: bold;
}
