/* @@author A0135998H */
.background {
    -fx-background-color: #41464a;
}

.text-field,.text-area, .split-pane,.tab {
    -fx-border-color: #2e4053;
    -fx-border-width: 2;
}

.text-area {
    -fx-font-size: 15pt;
    -fx-text-fill: #2e4053;
    -fx-font-family: "Arial";
}

.tab {
    -fx-background-color: #2e4053;
    -fx-border-radius: 5 5 0 0; /* roundness of border */
    -fx-background-radius: 8 8 0 0; /* roundness of fill */
}

.tab-label {
    -fx-text-fill: #ffffff;
    -fx-font-size: 12pt;
    -fx-font-family: "Arial Rounded MT Bold";
}

.tab:selected {
    -fx-background-color: #1abc9c;
}

.tab:pressed, .tab:default:hover:pressed {
    -fx-background-color: #14987e;
}

.button1 {
    -fx-background-color: #ff7292;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-border-color: #2e4053;
    -fx-border-width: 2; /* Thickness */
    -fx-border-radius: 0 0 8 8; /* roundness of border */
    -fx-background-radius: 0 0 10 10; /* roundness of fill */
}

.button1:hover {
    -fx-background-color: #ff8f94;
}

.button1:pressed, .button:default:hover:pressed {
    -fx-background-color: #ff418b;
}

.button2 {
    -fx-background-color: transparent;
    -fx-background-radius: 50 50 50 50; /* roundness of fill */
}

.button2:hover {
    -fx-background-color: #ff8f94;
}

.button2:pressed, .button:default:hover:pressed {
    -fx-background-color: #f1cadb;
}

#cardPane {
    -fx-background-color: transparent;
    -fx-border-color: #d6d6d6;
    -fx-border-width: 1 1 1 1;
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-text-fill: white;
    -fx-background-color: #146cc8;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 15;
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
}

.cell_event {
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 20px;
}

.cell_start {
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 20px;
    -fx-text-fill: #149544;
}

.cell_due {
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 20px;
    -fx-text-fill: #e01021;
}

.status-bar {
    -fx-background-color: derive(#1d1d1d, 20%);
    -fx-text-fill: black;
}


.dialog-pane {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(#1d1d1d, 25%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: white;
}

.scroll-bar .thumb {
    -fx-background-color: derive(#1d1d1d, 50%);
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

.context-menu {
    -fx-background-color: derive(#41464a, 50%);
}

.context-menu .label {
    -fx-text-fill: white;
}

.menu-bar {
    -fx-background-color: #1abc9c;
    -fx-border-color: #2e4053;
    -fx-border-width: 2;
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Arial";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: #2e4053;
}

.status-bar {
    -fx-background-color: #2e4053;
}

.status-bar .label {
    -fx-text-fill: white;
}

.status-bar-with-border {
    -fx-border-color:#2e4053;
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: white;
}
