<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
<h1 align = "center" style="font-size: 30pt;"><span style="color: #00ccff;"><strong>Cheat Sheet</strong></span></h1>
<table style="height: 615px;" width="800"; align="center">
<tbody>
<tr>
<td style="width: 111px;">
<p><span style="font-size: 20pt;"><strong>Command</strong></span></p>
</td>
<td style="width: 384px;">
<p><span style="font-size: 20pt;"><strong>Format</strong></span></p>
</td>
<td style="width: 193px;">
<p><span style="font-size: 20pt;"><strong><em>Description</em></strong></span></p>
</td>
</tr>
<tr>
<td style="width: 111px;">
<p><span style="font-size: 16pt;">Help</span></p>
</td>
<td style="width: 384px;">
<p><strong><span style="font-size: 16pt; color: #993366;">help</span></strong></p>
</td>
<td style="width: 193px;">
<p><span style="font-size: 16pt;"><em>Open help window</em></span></p>
</td>
</tr>
<tr>
<td style="width: 111px;">
<p><span style="font-size: 16pt;">Add</span></p>
</td>
<td style="width: 384px;">
<p><strong><span style="font-size: 16pt; color: #993366;">add NAME [s/START_DATE e/END_DATE | d/DURATION] [r/RECUR] [p/PRIORITY] [i/INFORMATION] [t/TAG]...</span></strong></p>
</td>
<td style="width: 193px;">
<p><span style="font-size: 16pt;"><em>Add a task</em></span></p>
</td>
</tr>
<tr>
<td style="width: 111px;">
<p><span style="font-size: 16pt;">Find</span></p>
</td>
<td style="width: 384px;">
<p><strong><span style="font-size: 16pt; color: #993366;">find KEYWORD [MORE_KEYWORDS] [s/SPECIFICITY] [f/FIELDS]...</span></strong></p>
</td>
<td style="width: 193px;">
<p><span style="font-size: 16pt;"><em>Find tasks with keywords</em></span></p>
</td>
</tr>
<tr>
<td style="width: 111px;">
<p><span style="font-size: 16pt;">List</span></p>
</td>
<td style="width: 384px;">
<p><strong><span style="font-size: 16pt; color: #993366;">list [s/START_DATE e/END_DATE | d/DURATION] [o/ORDER] [rev/] [done/]</span></strong></p>
</td>
<td style="width: 193px;">
<p><span style="font-size: 16pt;"><em>List specified tasks</em></span></p>
</td>
</tr>
<tr>
<td style="width: 111px;">
<p><span style="font-size: 16pt;">Edit</span></p>
</td>
<td style="width: 384px;">
<p><strong><span style="font-size: 16pt; color: #993366;">edit PREFIX_INDEX [NAME] [s/START_DATE e/END_DATE d/DURATION] [r/RECUR] [p/PRIORITY] [i/INFORMATION] [t/TAG]...</span></strong></p>
</td>
<td style="width: 193px;">
<p><span style="font-size: 16pt;"><em>Edit any specified task&rsquo;s information</em></span></p>
</td>
</tr>
<tr>
<td style="width: 111px;">
<p><span style="font-size: 16pt;">Delete</span></p>
</td>
<td style="width: 384px;">
<p><strong><span style="font-size: 16pt; color: #993366;">delete PREFIX_INDEX</span></strong></p>
</td>
<td style="width: 193px;">
<p><span style="font-size: 16pt;"><em>Delete specified task</em></span></p>
</td>
</tr>
<tr>
<td style="width: 111px;">
<p><span style="font-size: 16pt;">Clear</span></p>
</td>
<td style="width: 384px;">
<p><strong><span style="font-size: 16pt; color: #993366;">clear</span></strong></p>
</td>
<td style="width: 193px;">
<p><span style="font-size: 16pt;"><em>Clear all data in OneTwoDo</em></span></p>
</td>
</tr>
<tr>
<td style="width: 111px;">
<p><span style="font-size: 16pt;">Undo</span></p>
</td>
<td style="width: 384px;">
<p><strong><span style="font-size: 16pt; color: #993366;">undo</span></strong></p>
</td>
<td style="width: 193px;">
<p><span style="font-size: 16pt;"><em>Undo previous action</em></span></p>
</td>
</tr>
<tr>
<td style="width: 111px;">
<p><span style="font-size: 16pt;">Redo</span></p>
</td>
<td style="width: 384px;">
<p><strong><span style="font-size: 16pt; color: #993366;">redo</span></strong></p>
</td>
<td style="width: 193px;">
<p><span style="font-size: 16pt;"><em>Redo previous action</em></span></p>
</td>
</tr>
<tr>
<td style="width: 111px;">
<p><span style="font-size: 16pt;">Done</span></p>
</td>
<td style="width: 384px;">
<p><strong><span style="font-size: 16pt; color: #993366;">done PREFIX_INDEX</span></strong></p>
</td>
<td style="width: 193px;">
<p><span style="font-size: 16pt;"><em>Archive the specified task</em></span></p>
</td>
</tr>
<tr>
<td style="width: 111px;">
<p><span style="font-size: 16pt;">Undone</span></p>
</td>
<td style="width: 384px;">
<p><strong><span style="font-size: 16pt; color: #993366;">undone PREFIX_INDEX</span></strong></p>
</td>
<td style="width: 193px;">
<p><span style="font-size: 16pt;"><em>Unarchive the specified task</em></span></p>
</td>
</tr>
<tr>
<td style="width: 111px;">
<p><span style="font-size: 16pt;">Save</span></p>
</td>
<td style="width: 384px;">
<p><strong><span style="font-size: 16pt; color: #993366;">save FILE_PATH</span></strong></p>
</td>
<td style="width: 193px;">
<p><span style="font-size: 16pt;"><em>Save file to specified location</em></span></p>
</td>
</tr>
<tr>
<td style="width: 111px;">
<p><span style="font-size: 16pt;">Exit</span></p>
</td>
<td style="width: 384px;">
<p><strong><span style="font-size: 16pt; color: #993366;">exit</span></strong></p>
</td>
<td style="width: 193px;">
<p><span style="font-size: 16pt;"><em>Quit the program</em></span></p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
}
</style>
</html>