/* @@author A0143029M */
#cardPane:done {
	-fx-background-color: lightgray;
}

.label:done .text {
	-fx-strikethrough: true;
	-fx-opacity: 0.5;
}

.label:done .text {
	-fx-background-color: lightgray;
	-fx-text-fill: white;
}

.label-priority {
	-fx-font-weight: bold;
}

.label-priority:HIGH {
	-fx-background-color: #FF4C25 !important;
	-fx-padding: 3px;
	-fx-background-radius: 3px;
}

.label-priority:MEDIUM {
	-fx-background-color: #FA8215 !important;
	-fx-padding: 3px;
	-fx-background-radius: 3px;
}

.label-priority:LOW {
	-fx-background-color: #9DFA00 !important;
	-fx-padding: 3px;
	-fx-background-radius: 3px;
}
