/**@@author A0124377A */
@font-face {
    font-family: Beon;
    src: url('beon/Beon.otf');
}
@font-face {
    font-family: Montserrat_Light;
    src: url('montserrat/Montserrat-Light.otf');
}
@font-face {
    font-family: Montserrat_Regular;
    src: url('montserrat/Montserrat-Regular.otf');
}

.background {
    -fx-background-color: derive(#def8c9, 20%);
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Montserrat_Regular";
    -fx-text-fill: #000000;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Montserrat_Regular";
    -fx-text-fill: #000000;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 20pt;
    -fx-font-family: "Montserrat_Regular";
    -fx-text-fill: #000000;
    -fx-opacity: 1;
    -fx-underline: true;
    
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Montserrat_Light";
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.table-view {
    -fx-base: #def8c9;
    -fx-control-inner-background: #def8c9;
    -fx-background-color: #def8c9;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: #000000;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 100%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 15pt;
    -fx-font-family: "Beon Medium";
    -fx-text-fill: #000000;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal .split-pane-divider {
    -fx-border-color: transparent #def8c9 transparent #def8c9;
    -fx-background-color: transparent, derive(#def8c9, 10%);
}

.split-pane:vertical .split-pane-divider {
    -fx-border-color: transparent #def8c9 transparent #def8c9;
    -fx-background-color: transparent, derive(#def8c9, 10%);
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-background-color: transparent, derive(#def8c9, 10%);
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
}

.list-cell .label {
    -fx-text-fill: #010504;
}

.cell_big_label {
    -fx-font-size: 14px;
    -fx-text-fill: #010504;
}

.cell_small_label {
    -fx-font-size: 11px;
    -fx-text-fill: #010504;
}

.cell_small_impt_label {
    -fx-font-size: 11px;
    -fx-text-fill: derive(#FF7F50,100%);
}

.anchor-pane {
     -fx-background-color: derive(#000000, 100%);
     -fx-alignment: center-left;
        
}

.anchor-pane-with-border {
     -fx-background-color: derive(#def8c9, 20%);
     -fx-border-color: derive(#def8c9, 10%);
     -fx-border-top-width: 1px;
}

.status-bar {
    -fx-background-color: derive(#000000, 20%);
    -fx-text-fill: black;
}

.result-display {
    -fx-background-color: #ffffff;
}

.result-display .label {
    -fx-text-fill: black !important;
}

.status-bar .label {
    -fx-text-fill: #000000;
}

.status-bar-with-border {
    -fx-background-color: derive(#def8c9, 30%);
    -fx-border-color: derive(#000000, 25%);
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: #1d1d1d;
}

.grid-pane {
    -fx-background-color: derive(#def8c9, 30%);
    -fx-border-color: derive(#000000, 10%);
    -fx-border-width: 1px;
}

.grid-pane .anchor-pane {
    -fx-background-color: derive(#def8c9, 30%);
}

.context-menu {
    -fx-background-color: derive(#def8c9, 50%);
}

.context-menu .label {
    -fx-text-fill: #000000;
}

.menu-bar {
    -fx-background-color: derive(#def8c9, 20%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Montserrat_Light";
    -fx-text-fill: #000000;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Montserrat_Regular";
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}

.dialog-pane {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(#1d1d1d, 25%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: white;
}

.scroll-bar .thumb {
    -fx-background-color: derive(#1d1d1d, 50%);
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

#cardPane {
    -fx-background-color: transparent;
    -fx-border-color: #d6d6d6;
    -fx-border-width: 1 1 1 1;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: white;
    -fx-background-color: #383838;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}
